*{
  font-family: 'helvetica';
}
body{
  background-image: url("fondo.jpg")
}
.contenido{
  text-align: center;
  width: 80%;
  margin: auto;
}
.titulo{
  display: grid;
  background-color: #3AB099;
  border: 3px solid black;
  border-radius: 5px;
}
.operaciones{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 200px 200px 200px;
  margin-top: 10px;
  border-radius: 8px;
  border: 3px solid black;
}
.operaciones div{
  background-color: #E84F4F;
  border: 1px solid #6F847D;
  color: white;
  text-align: center;
  border-radius: 5px;
  border-style: ridge;
}
.etiqueta{
  font-weight: bold;
  width: 180px;
  display: inline-block;
}
.campo{
  width: 25%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid black;
}
.etiquetaop4{
  font-weight: bold;
  display: inline-block;
}
.campop4{
  width: 50%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid black;
}
.boton{
  background: gray;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
.botonop2{
  background: gray;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  margin-top: 8px;
}
